.page-header.wrapper
  %h1
    = image_tag "000147242.jpg", class: 'image1'
    = image_tag "images.png", class: 'image2'

    
  %nav
    %ul.main-nav
      %li.main-nav_a
        投稿一覧
      %li.main-nav_a
        投稿する
      %li.main-nav_a
        ログイン
